ul{padding:0;margin:0;}
.explain{position:relative;margin:-8px;padding:10px;border-bottom:1px dashed #ddd;padding-bottom:30px;margin-bottom:30px;line-height:1.5;background:#efefef;box-shadow:0 10px 10px rgba(0,0,0,.2)}
.explain h1{margin:0;}
.explain li ul{margin-left:15px;line-height:1.5;}
.explain li ul ul{font-size:12px;color:#666;}
.explain .btn-hide{position: absolute;right:10px;bottom:10px;}